[Desktop Entry]
Encoding=UTF-8
Name=Tesseract
Comment=Tesseract P2P Cryptocurrency
Comment[fr]=Tesseract, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Tesseract, eşten eşe kriptografik sanal para birimi
Exec=tesseract-qt %u
Terminal=false
Type=Application
Icon=tesseract128
MimeType=x-scheme-handler/tesseract;
Categories=Office;Finance;
